$caret-width-base:4px;

$font-size-base:14px;

$dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
$dropdown-border:                rgba(0,0,0,.15);
//** Dropdown menu `border-color` **for IE8**.
$dropdown-fallback-border:       #ccc;
//** Divider color for between dropdown items.
$dropdown-divider-bg:            #e5e5e5;

$line-height-base:20px;

$dropdown-link-color:            lighten(#000, 13.5%);

//** Hover color for dropdown links.
$dropdown-link-hover-color:      darken($dropdown-link-color, 5%);
//** Hover background for dropdown links.
$dropdown-link-hover-bg:         #f5f5f5;

//** Active dropdown menu item text color.
$dropdown-link-active-color:     #fff;
//** Active dropdown menu item background color.
$dropdown-link-active-bg:        darken(#428bca, 6.5%);

//** Disabled dropdown menu item background color.
$dropdown-link-disabled-color:   lighten(#000, 46.7%);

$dropdown-header-color: lighten(#000, 46.7%);

$cursor-disabled:                not-allowed;

$font-size-small:11px;