@import "../../src/sass/mixins.scss";
.advance-city {
	font-size:.813rem;
	line-height:1rem;
	color:#555;

	.search-input{
		background-color: #f4f4f4;
		border-radius: 3px;
		height: 32px;
		padding: 0 8px;
		line-height: 32px;
		margin: 6px 0 0 31px;
		position: relative;

		i{
			width: 16px;
			height: 16px;
			display: block;
			position: absolute;
			background-image: url(img/list-search.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;

			&.icon-search {
				left: 11px;
				top: 8px;
			}

			&.icon-clear {
				right: 0px;
				top: 0px;
				margin: 6px 5px 10px 20px;
				background-position: -120px 0;
				display: none;
			}
		}
		input {
			width: 99%;
			padding-left:24px;
			border: 0;
			font-size: .813rem;
			line-height: 1;
			color: #555;
			float: left;
			margin-top: 8px;
			background-color: #f4f4f4;
		}
	}
	.icon-cancel {
		width: 45px;
		height: 35px;
		display: none;
	    position: absolute;
	    right: 0%;
		top: 18%;
		font-style: normal;
		font-size: .938rem;
		color: #317ef3;
		text-align: center;
		line-height: 30px;
	}
	.page-content{
		background:#F2F2F2;
		padding:50px 12px 12px 12px;

		.page-title{
			font-size:.688rem;
			color:#999;
			margin-bottom: 2px;
		}

		> div{
			padding: 0px 12px;
    		border-bottom: 1px solid #ddd;
    		.page-title{
    			font-size:.75rem;
				line-height:24px;
				margin-bottom:6px;
			}
			.city-list ul {
				li {
					padding:0 12px;
				    width: 30%;
				    border-radius: 3px;
				    margin-right: 5%;
				    margin-bottom: 12px;
				    background: #FFF;
				    height:40px;
				    border: 0;
				    span{
				    	line-height:.9rem;
				    }
				    &:nth-of-type(3n){
						margin-right:0px;
					}
					&.mr0{
						margin-right:2.5%;
					}
					&.on{
						color:#F55;
					}
				}
			}
		}

		.current-city{
			margin-bottom: 8px;
			display: none;

			.get-city{
				border:1px solid #DDD;
				background:#FFF;
				padding:8px 12px;
				i{
					width:13px;
					height:13px;
					display:inline-block;
					background:url(img/list-search-1.png) no-repeat;
					margin-right:8px;
					background-size: 100% 100%;
					vertical-align: -2px;
				}
			}
		}
		.search-history{
			margin-bottom: 8px;
		}
		.hot-city{
			margin-bottom: 8px;
		}
		.all-city{
		    border-bottom: 0px;
		    padding:0;
		    .page-title{
		        display:none;
		    }
		    .letter-list{
		        margin-bottom:12px;
		        padding: 17px 12px 25px;
		        background:#fff;
		        ul {
		            overflow: hidden;
		            li{
		                width: 18%;
		                margin-right: 2.5%;
		                margin-bottom: 2.5%;
		                border-radius: 3px;
		                height: 35px;
		                background: #FFF;
		                border: 1px solid #ccc;
		                text-align: center;
		                line-height: 33px;
		                float: left;
		                &.mr0{
		                    margin-right:2.5%;
		                }
		                &:nth-of-type(5n){
		                    margin-right:0px;
		                }
		                &.on{
		                    border: 1px solid #F55;
		                    background: #F55;
		                    color:#FFF;
		                }
		            }   
		        }
		    }
		}
		.city-list{
			ul{
				overflow: hidden;
				padding-bottom: 1px;
				li{
					width:25%;
					border:1px solid #DDD;
					margin-right:-1px;
					margin-bottom:-1px;
					background:#FFF;
					text-align: center;
					float: left;
					height: 42px;
					display: box;
					display: -webkit-box;
					display: -moz-box;
					-webkit-box-pack: center;
					-moz-box-pack: center;
					-webkit-box-align: center;
					-moz-box-align: center;
					&.on{
						color:#F55;
					}
					&:active{
						background:#F8F8F8;
					}
					span{
						display: inline-block;
						vertical-align: middle;
						line-height:1;
						max-width:5em;
						max-height: 2em;
						overflow: hidden;
					}
				}
			}
		}
	}

	.page-search {
		display:none;
		background:#FFF;
		ul{
			li{
				position:relative;
				border-bottom:1px solid #DDD;
				font-size:.813rem;
				padding:12px 35% 12px 8px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow:ellipsis;

				span{
					font-size:.688rem;
					color:#999;
					position:absolute;
					white-space: nowrap;
					overflow: hidden;
					text-overflow:ellipsis;
					right:8px;
					max-width: 31%;
				}

				&.no{
					// display:none;
					font-size:.938rem;
					border-bottom:0;
					position:absolute;
					top:30%;
					margin-top:-20px;
					text-align: center;
					padding: 0;
					width: 100%;
					left: 0;
				}
			}
		}
	}

	.inner-mask {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		background-color: #000;
		top: 0;
		left: 0;
		z-index: 10009;
		display: none;
	}
}